# Python cache
__pycache__/
*.pyc

# Conda & venv environments
venv-Cam-Challenge/


# VS Code files
.vscode/

# Python build
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Model weights 
*.pth
*.ckpt
*.onnx

# Video or input data
data/
*.mp4
*.avi
*.mov

# Node / frontend 
node_modules/

# Environment files
.env    
.env.*

*.pt